@using UniversityStudentSystem.Common.Extensions;
@using UniversityStudentSystem.Common;

@model SearchResultModel
@{
    this.ViewBag.Title = "Search results";
}

<div class="row" style="margin-top: 50px;">
    <div class="col-md-4 col-md-offset-4">
        <form action="/Search" method="get">
            <div class="form-group">
                <input class="form-control" name="text" type="text" value="@Model.Criteria" maxlength="100" pattern="@WebConstants.SearchPatternValidation"  />
                <p class="help-block">At least 3 symbols required (leading and trailing spaces are ignored)</p>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-outline btn-block btn-lg" value="Search" />
            </div>
        </form>
    </div>
</div>

<div class="row text-center">
    <h2>
        Search results
    </h2>
</div>

<div class="row">
    @if (this.TempData["Error"] != null)
    {
        <p class="lead text-danger">@this.TempData["Error"].ToString()</p>
    }
    else
    {
        if (this.Model.Courses.Count > 0)
        {
            <h3>Courses</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var course in Model.Courses)
                            {
                                <div class="col-md-2">
                                    @Html.ActionLink(course.Name, "Details", "Courses", new { area = "Public", id = course.Id, name = course.Name.ToUrl() }, null)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        if (this.Model.Specialties.Count > 0)
        {
            <h3>Specialties</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var spec in Model.Specialties)
                            {
                                <div class="col-md-2">
                                    @Html.ActionLink(spec.Name, "Details", "Specialties", new { area = "Public", id = spec.Id, name = spec.Name.ToUrl() }, null)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        if (this.Model.News.Count > 0)
        {
            <h3>News</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var news in Model.News)
                            {
                                <div class="col-md-2">
                                    @Html.ActionLink(news.Title, "Details", "News", new { area = "Public", id = news.Id, name = news.Title.ToUrl() }, null)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        if (this.Model.ForumPosts.Count > 0)
        {
            <h3>Forum posts</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var forumPost in Model.ForumPosts)
                            {
                                <div class="col-md-2">
                                    @Html.ActionLink(forumPost.Title, "Details", "Forum", new { area = "Public", id = forumPost.Id, name = forumPost.Title.ToUrl() }, null)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        if (this.Model.Trainers.Count > 0)
        {
            <h3>Trainers</h3>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var trainer in Model.Trainers)
                            {
                                <div class="col-md-2">
                                    @Html.ActionLink(trainer.FullName, "Details", "Trainers", new { area = "Public", id = trainer.Id, name = trainer.FullName.ToUrl() }, null)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
