<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />

    @Styles.Render("~/bundles/css-SBAdmin")
    @RenderSection("SocialStyles", required: false)

    @RenderSection("KendoCss", required: false)

    @Styles.Render("~/bundles/css-site")

    @Scripts.Render("~/bundles/js-kendo-jquery")
    @RenderSection("KendoHead", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top success" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <i class="fa fa-graduation-cap fa-fw"></i>
                Student System
            </a>
        </div>
        <!-- /.navbar-header -->
        @Html.Partial("_LoginPartial")
        <!-- /.navbar-top-links -->
        @{
            Html.RenderAction("SideMenu", "Home", new { area = "" });
        }
    </nav>
    <div id="page-wrapper">
        @RenderBody()
    </div>
    <div class="clearfix">
    </div>
    <div>
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - University system</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/js-SBAdmin")
    @RenderSection("Scripts", required: false)
    @RenderSection("KendoJs", required: false)
</body>
</html>