@using UniversityStudentSystem.Common.Extensions;
@model UniversityStudentSystem.Web.Models.Courses.CourseViewModel
@using UniversityStudentSystem.Common;

@{
    this.ViewBag.Title = Model.Name;
    bool isStaff = this.User.IsInRole(RoleConstants.Trainer) || this.User.IsInRole(RoleConstants.Admin);
}

<div class="row">
    <div class="col-md-8">
        <h2>@Model.Name</h2>
        <span class="text-muted">in @(Model.Specialty) - @(Model.Semester.Name)</span>

        <p>@Html.DisplayFor(m => m.Description)</p>
    </div>
    <div class="col-md-4">
        <h3>Trainers</h3>
        <ul>
            @foreach (var trainer in Model.Trainers)
            {
                <li>@trainer.FullName</li>
            }
        </ul>
    </div>
</div>

<div class="row">
    @{
        if (this.ViewBag.IsAllowed || isStaff)
        {
            <div class="col-md-6">
                <div class="row">
                    <p class="lead text-center">Resource materials</p>
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Name:</th>
                            <th class="text-center">Link:</th>
                        </tr>
                        @foreach (var res in Model.Resources)
                        {
                            <tr>
                                <td>
                                    @res.Name
                                </td>
                                <td>
                                    <a href="@res.Path" class="btn btn-info btn-outline">Download</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tasks:
                    </div>

                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            @{
                                int i = 1;
                            }
                            @foreach (var task in Model.Tasks)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading task">
                                        <h4 class="panel-title">
                                            <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">Task #@i</a>
                                        </h4>
                                    </div>
                                    <div style="height: 0px;" aria-expanded="false" id="collapse@(i)" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            @Html.Raw(task.Requirements)
                                        </div>
                                    </div>
                                </div>
                                {
                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>
                @if (Model.Tasks.Count > 0)
                {
                    using (Html.BeginForm("UploadSolution", "Courses", new { area = "Public", id = Model.Id }, FormMethod.Post, new { @class = "row" }))
                    {
                        <p class="text-muted">
                            Solve all tasks, wrap into a zip archive and upload it to system. Allowed size @(WebConstants.MaxContentLengthSolution / (1000 * 1000))MB.
                        </p>

                        @Html.AntiForgeryToken()
                        @Html.Kendo().Upload().Name("File").HtmlAttributes(new { accept = WebConstants.AcceptArchives })
                        <input type="submit" value="Upload" class="btn btn-info btn-outline btn-lg pull-right" />
                        <p class="text-danger">
                            @(this.TempData["Error"])
                        </p>
                    }

                    <br />
                    if (this.ViewBag.Path != null)
                    {
                        <div class="alert-success alert">
                            You have uploaded a solution. <a href="@this.ViewBag.Path" class="alert-link">Link</a>
                        </div>
                    }
                    else
                    {
                        <div class="alert-warning alert">
                            You haven't uploaded a solution.
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <p class="text-danger"> @this.ViewBag.Message</p>
        }
    }
    @if (isStaff)
    {
        <div class="col-md-6">
            <div class="btn-group">
                <a aria-expanded="false" href="#" class="btn btn-info btn-outline dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-fw fa-gear"></i>
                    Options
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Add Task", "AddTask", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Add Test", "AddTest", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Upload Resource", "Upload", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Join", "Join", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Solutions", "Solutions", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                    <li>
                        @Html.ActionLink("Marks", "Marks", new { area = "Trainer", id = Model.Id, name = Model.Name.ToUrl() })
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

@section KendoCss{
    @Styles.Render("~/bundles/css-kendo-silver")
}

@section KendoHead{

    @Scripts.Render("~/bundles/js-kendo")
}

@section KendoJs{
    @Scripts.Render("~/bundles/js-kendo-upload")
}