@using UniversityStudentSystem.Common;

@model UniversityStudentSystem.Web.Models.Users.UserViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>@(Model.FullName) (@Model.Username)</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("RemoveAvatar", "Manage", FormMethod.Post, new { @class = "pull-left remove-btn" }))
            {
                @(Html.AntiForgeryToken())
                <button class="btn-danger btn btn-circle">
                    <i class="fa fa-times"></i>
                </button>
            }
            <img src="@(string.IsNullOrEmpty(Model.AvaratUrl) ? WebConstants.DefaultImageProfile : Model.AvaratUrl)" alt="avatar" class="col-md-12" width="250" />
            <hr class="col-md-12" />
            <p class="text-center col-md-12">
                <a class="btn btn-social-icon btn-facebook @(string.IsNullOrEmpty(Model.FacebookAccount) ? "disabled" : string.Empty)">
                    <i class="fa fa-facebook">
                    </i>
                </a>

                <a class="btn btn-social-icon btn-linkedin @(string.IsNullOrEmpty(Model.LinkedInProfile) ? "disabled" : string.Empty)">
                    <i class="fa fa-linkedin">
                    </i>
                </a>

                <a class="btn btn-social-icon btn-twitter @(string.IsNullOrEmpty(Model.SkypeName) ? "disabled" : string.Empty)">
                    <i class="fa fa-skype">
                    </i>
                </a>
            </p>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Personal info
                </div>
                <div class="panel-body">
                    <p class="lead"> @Model.FullName</p>
                    <p class="text-muted">@(Model.Genre) - @(Model.Age) years old</p>
                    <p>
                        <strong>Faculty Number:</strong>
                        <span>@Model.FacultyNumber.ToString().PadLeft(10, '0')</span>
                    </p>
                    <p>
                        <strong>Email:</strong>
                        <span>@Model.Email</span>
                    </p>
                    <p>
                        <strong>Registered on:</strong>
                        <span>@(Model.DateRegistered.ToShortDateString())</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Forum activity
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(m => m.ForumPosts.Count, "DisplayPosts")
                    @Html.DisplayFor(m => m.Comments.Count, "DisplayComments")
                    <div class="text-center">
                        @Html.ActionLink("Visit forum", "Index", "Forum", new { area = "Public" }, new { @class = "btn btn-outline btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayFor(m => m.AboutMe)
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Certificates
                </div>
                <div class="panel-body">
                    @if (Model.Diploms.Any())
                    {
                        foreach (var cert in Model.Diploms)
                        {
                            <a href="@cert.PathToImage">@cert.Specialty</a>
                        }
                    }
                    else
                    {
                        <p>You don't have any certificates yet.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Edit profile", "Edit", "Manage", null, new { @class = "btn-outline btn btn-warning" })
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Marks</div>
            <div class="panel-body">
                <table class="table table-bordered table-hover" id="student-marks">
                    <tr>
                        <th>№</th>
                        <th>Course</th>
                        <th>Mark</th>
                        <th>Trainers</th>
                    </tr>
                    @{ 
                        var couter = 1;
                    }
                    @foreach (var mark in Model.Marks)
                    {
                        <tr>
                            <td>@(couter++)</td>
                            <td>@mark.Course</td>
                            <td>@mark.Value</td>
                            <td>
                                <ul>
                                    @foreach (var trainer in mark.Trainers)
                                    {
                                        <li>@trainer</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section SocialStyles{
    @Styles.Render("~/bundles/css-social")
}