@model UniversityStudentSystem.Web.Models.Courses.CourseViewModel
@using UniversityStudentSystem.Common.Extensions;

<div class="well shadow">
    <h3>@Model.Name</h3>
    <p class="text-muted">
      in @Model.Specialty
    </p>
    <div style="height:100px; overflow-y: auto;">
        @Html.DisplayFor(model => model.Description)
    </div>
    <hr />
    <div class="text-center">
            @Html.ActionLink("Details", "Details", new { id = Model.Id, name = Model.Name.ToUrl(), area = "Public"}, new { @class = "btn btn-info btn-outline" })
        <span class="pull-left">
        @Model.Tasks.Count Tasks
        </span>
        <span class="pull-right">
            @Model.Trainers.Count Trainers
        </span>
    </div>
</div>