@using UniversityStudentSystem.Common;
@using UniversityStudentSystem.Web.Models.Messages;

@model UniversityStudentSystem.Web.Models.Specialties.SpecialtyViewModel

@{
    ViewBag.Title = "Details - " + Model.Name;
    bool isStaff = this.User.IsInRole(RoleConstants.Admin) || this.User.IsInRole(RoleConstants.Trainer);
}

<div class="row">
    <div class="col-lg-offset-2 col-md-8">
        @Html.DisplayFor(model => model.Name, "Name", null)
        @Html.DisplayFor(model => model.Description, "Description", null)
    </div>
</div>

<div>
    <div class="col-lg-offset-2 col-md-8">
        <p class="lead"> Semesters</p>
        @foreach (var sem in Model.Semesters)
        {
            <span style="font-size: 24px;" class="label @(sem.IsActive ? "label-success" : "label-warning")">@sem.Name</span>
        }
        <p class="text-muted " style="margin-top: 10px;">
            <span class="label label-success">■</span> semester is active.
            <br />
            <span class="label-warning label">■</span> semester is not active.
        </p>
    </div>
</div>

@if (isStaff)
{
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <p class="text-center lead">Semesters</p>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Options</th>
                </tr>
                @foreach (var sem in Model.Semesters)
                {
                    <tr>
                        <td>
                            @sem.Name
                        </td>
                        @if (sem.IsActive)
                        {
                            using (Html.BeginForm("Deactivate", "Semesters", new { id = sem.Id, area = "Trainer" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    <input type="submit" class="btn btn-danger" value="Deactivate" />
                                </td>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Activate", "Semesters", new { id = sem.Id, area = "Trainer" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    <input type="submit" class="btn btn-success" value="Activate" />
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            @Html.Partial("_NotifyForm", new NotifyInputModel() { SpecialtyId = Model.Id } )
        </div>
    </div>
}