@model IEnumerable<UniversityStudentSystem.Web.Models.Specialties.SpecialtyViewModel>

@{
    ViewBag.Title = "Specialties";
}

<h2>Specialties</h2>

<div class="row">
    @foreach (var spec in Model)
    {
        <div class="col-md-6">
            <div class="panel-info panel">
                <div class="panel-heading">
                    <h3>@spec.Name</h3>
                </div>
                <div class="panel-body text-justify" style="overflow:auto; height: 150px;">
                    <p>@spec.Description</p>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <span class="pull-left">
                            @spec.StudentsCount Students
                        </span>
                        <span>
                            @Html.ActionLink("Details", "Details", "Specialties", new { id = spec.Id, area = "Public" }, new { @class = "btn btn-info btn-outline" })
                        </span>
                        <span class="pull-right">
                            @spec.Semesters.Count Semesters
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>